---
import GlobalLayout from '../../layouts/global.astro'

const allRecipes = await Astro.fetchContent('./../recipe/*.md');
const filterKeys = ['meal_type', 'course', 'diet', 'main_ingredient']

const filter = new Set(allRecipes.reduce((curr, recipe) => {
  filterKeys.forEach((key) => {
    if (!recipe[key]) return;
    curr.push(recipe[key]);
  });
  return curr;
}, [])
)

const tags = Array.from(filter)
const slugify = (url) => url.toLowerCase()
---

<GlobalLayout>

<h1>Find recipes by tag</h1>
<ul>
  {tags.map(tag => <li><a href={`/recipes/${slugify(tag)}`}>{tag}</a></li>)}
</ul>

</GlobalLayout>
