---
import GlobalLayout from '../../../layouts/global.astro'
import Recipe from '../../../components/Recipe.astro'
import Pagination from '../../../components/Pagination.astro'
export async function getStaticPaths({paginate}) {
  const allRecipes = await Astro.fetchContent('../../recipe/*.md')
    .sort((a, b) => a.date.localeCompare(b.date));

  return paginate(allRecipes, {pageSize: 2});
}

const {page} = Astro.props;
---

<GlobalLayout>
  <h1>All recipes</h1>
    <section class="grid grid-cols-3 py-8">
      {page.data.map(recipe => <Recipe recipe={recipe} /> )}
    </section>
    <Pagination data={page}/>
</GlobalLayout>
