---
import GlobalLayout from '../layouts/global.astro'
import Header from '../components/Header.astro'
import Recipe from '../components/Recipe.astro'

const recipes = Astro.fetchContent('./recipe/*.md')
    .sort((a, b) => a.date.localeCompare(b.date)).slice(0, 5);
---

<GlobalLayout>

	<Header title="Our latest recipes" text="These are latest six recipes added to our blog." />

	<section class="grid grid-cols-3 py-8">
		{recipes.map(recipe => <Recipe recipe={recipe} /> )}
	</section>
</GlobalLayout>
