---
export interface Props {
  recipe: {
      url: string;
      title: string;
      image: string;
  }
}
const { recipe } = Astro.props;
---

<article class="px-2 py-4 text-center">
  <a href={recipe.url} class="flex flex-col hover:opacity-60">
    <img class="object-cover h-[200px]" src={recipe.image} alt={recipe.title} />
    <h3 class="text-2xl leading-tighter pt-2">{recipe.title}</h3>
  </a>
</article>
