---
import GlobalLayout from '../../../layouts/global.astro'
import Pagination from '../../../components/Pagination.astro'
import Recipe from '../../../components/Recipe.astro'

export async function getStaticPaths({paginate}) {

  const allRecipes = await Astro.fetchContent('./../../recipe/*.md');
  const filterKeys = ['meal_type', 'course', 'diet', 'main_ingredient']

  const filter = new Set(allRecipes.reduce((curr, recipe) => {
    filterKeys.forEach((key) => {
      if (!recipe[key]) return;
      curr.push(recipe[key]);
    });
    return curr;
  }, [])
  );

  const tags = Array.from(filter)

  const slugify = (url) => url.toLowerCase()

  return tags.map((tag) => {
    const filteredPosts = allRecipes.filter((recipe) =>
      filterKeys.some((key) => recipe[key] === tag)
    )

    return paginate(filteredPosts, {
      params: {slug: slugify(tag)},
      props: {tag},
      pageSize: 2,
    })
  })

}
const { page, tag } = Astro.props
---

<GlobalLayout>

  <h1>All {tag} Recipes</h1>
  <section class="grid grid-cols-3 py-8">
    {page.data.map(recipe => <Recipe recipe={recipe} /> )}
  </section>
  <Pagination data={page}/>

</GlobalLayout>