---
import Nav from '../components/Nav.astro';
const title = 'Astro Recipe Website';
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <style global>
			@import "../styles/global.css";
	    </style>
    </head>
    <body>
        <Nav/>
        <slot/>
    </body>
</html>